<!DOCTYPE html>
<html class="L">
<head>
    <title>熊猫金库</title>
    <meta name="keywords"
          content="熊猫金库,熊猫金库 pc,熊猫金库 web,熊猫金库 网页版,熊猫金库 app,熊猫金库 下载,熊猫镇,二发,二发熊,活期理财,理财平台,熊猫金库,随时取现,高收益理财,安全自由理财,熊猫理财,投资理财,P2P理财,互联网金融,宝宝类理财">
    <meta name="description"
          content="推荐使用微信扫描二维码,关注'熊猫金库理财'服务号,从'我要理财'入口登陆进行后续操作.熊猫金库-您安全自由的小金库，随存随取，当日计息，100元起投,8.0%+年化收益率,携手京东支付为您的资金保驾护航！旗下自媒体:熊猫镇 二发熊">
    <meta charset="utf-8"/>
    <!--如果安装了Google Chrome Frame则用chrome内核渲染,如果没有则使用系统最高ie内核渲染-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!--可以改变地址栏的颜色-->
    <meta name="theme-color" content="#FF6C3D">
    <!--ios手机的一些设置-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--设置手机全屏显示-->
    <meta name="apple-mobile-web-app-status-bar-style" content="blank">
    <!--设置顶部状态栏为黑色-->
    <meta name="format-detection" content="telephone=no">
    <!--禁止自动检测网页上的手机号码-->
    <!--保留历史记录以及动画效果-->
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes"/>
    <!--设置视图宽度和缩放-->
    <meta name="viewport" content="width=375,maximum-scale=1,user-scalable=no">
    <!--以下是iphone的启动画面-->
    <link rel="apple-touch-startup-image" href="https://o4j4l4n7h.qnssl.com/dbf52a6a8ddc228832086db3b939ff39/splash.png">
    <!--浏览器选项卡icon和手机桌面icon-->
    <link rel="icon" type="image/png" href="https://o4j4l4n7h.qnssl.com/c32bfa18c564181d49a632fedc172527/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="https://o4j4l4n7h.qnssl.com/a426fd30f78ab81e78229b0808dc8a4f/icon_jinku_2017.png"/>
    <!--<link rel="stylesheet" href="/animate.css">-->
    <script>
        window.XM_GIT_COMMIT_HASH = "<%= htmlWebpackPlugin.options.XM_GIT_COMMIT_HASH %>";
        window.XM_PUBLISH_DATE = "<%= htmlWebpackPlugin.options.XM_PUBLISH_DATE %>";
        window.XM_PUBLISH_USER_NAME = "<%= htmlWebpackPlugin.options.XM_PUBLISH_USER_NAME %>";
        window.XM_TEAM_CITY_BUILD = "<%= htmlWebpackPlugin.options.XM_TEAM_CITY_BUILD %>";
    </script>


</head>
<body>
<div id="root"></div>
</body>
</html>

